html, body {
    font-size: 16px;
    height: 100%;
    margin: 0;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    background: linear-gradient(45deg, #0984e3, #74b9ff);
    color: #eaf4ff;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

.modal {
    color: #333;
}

.table {
    border-radius: 6px;
}

.footer {
    height: 30px;
    margin-top: 30px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}