@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
}

.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
}

.account-box {
    font-size: 1.2rem;
    background-color: #ffffff;
    color: #000;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(37, 140, 251, 0.08);
    width: 50%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    background: linear-gradient(135deg, #0072ff 0%, #00c6a7 50%, #2dd4bf 100%);
    background-attachment: fixed;
    color: #eaf4ff;
    min-height: 100%;
}

.center-fixed {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;

    & img {
        width: 4rem;
    }
}

.home-container {
    font-size: 1.2rem;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

.modal {
    color: #333;
}

.table {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(37, 140, 251, 0.08);
}

.footer {
    height: 30px;
    margin-top: 1rem;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}